<%= form_for(@station, url: stations_path) do |f| %>
  <% if @station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% @station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
   <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
     <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
     <div class="field">
    <%= f.label :vote %><br>
    <%= f.text_field :vote %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
